<settings>

    <setting propertyKey="@Properties.EnableTracking" title="@Strings.EnableTrackingTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.TrackingServer" title="@Strings.TrackingServerTitle">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.ServerAuthorization" title="@Strings.ServerAuthorizationTitle">
        <settingConfig type="alphaNumeric" />
    </setting>

</settings>